*{
  margin: 0;
  padding: 0;
}
h1, h2, h3, p, li, ul{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*====================================================================*/
@media screen and (min-width:375px){

}