*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Futura PT Heavy;
  src: url(/assets/font/FuturaPTHeavy.otf);
}
@font-face {
  font-family: Futura PT Light;
  src: url(/assets/font/FuturaPTLight.otf);
}
/*====================================================================*/
@media screen and (min-width:375px){
  /*==================================================================HEADER*/
  .header{
    height: 60px;
    border-bottom: 2px solid;
    font-family: Futura PT Heavy;
  }

  .img-header{
    padding-right: 15px;
  }

  .icon-header{
    padding-left: 15px;
    padding-top: 10px;
  }

  .menu-container-first{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 15px;
    height: 30px;
    }

  .menu-container-content{
    display: none;
  }

  .sub-menu{
    height: 40px;
    font-family: Futura PT Heavy;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 15px;
    height: 30px;
  }

  .link-submenu{
    padding-left: 10px;
  }

  /*=================================================================BODY*/
  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .ableton-title{
    width: 50%;
    position:absolute;
    padding-top: 75px;
    fill:  #ff764d;
  }
  .ableton-pc{
    width: 80%;
    overflow: hidden;
  }

  p{
    font-family: Futura PT Light, sans-serif;
  }

}