*{
  margin: 0;
  padding: 0;
}
h1, h2, h3, p, li, ul{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*====================================================================*/
@media screen and (min-width:375px){
  /*==================================================================HEADER*/
  .menu-container-first{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-top: 5px;
    }
  
  .icon-header{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  .menu-container-content{
    display: none;
  }

}